$height: 50px;

.my-card {
  margin: auto;
  margin-top: 50px;
  width: 26%;
  min-height: 350px;
  padding: 35px 45px 35px 45px;
  border-radius: 4px;
  -webkit-box-shadow: -1px 1px 21px 1px rgba(240, 240, 240, 1);
  -moz-box-shadow: -1px 1px 21px 1px rgba(240, 240, 240, 1);
  box-shadow: -1px 1px 21px 1px rgba(240, 240, 240, 1);
}

.my-card-header {
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
  margin-bottom: -50px;
}

.my-card-header {
  button {
    background: transparent;
    border: none;
    font-size: 25px;
    color: orange;
    margin-left: -20px;
    margin-top: -10px;
  }
}

.my-card-header {
  button:focus {
    outline: none;
  }
}


.my-card-header {
  img {
    width: 100%;
  }
}
.my-card-body{
    p{
        font-size: 14px;
    }
}

.form-group {
  input {
    height: 50px !important;
  }
}

.form-group {
  button {
    height: 50px;
  }
}

.form-control:focus,
.form-control:active {
  box-shadow: none !important;
  border: 1px solid orange;
}

.back {
  a {
    text-decoration: none;
    color: orange;
    font-weight: 600;
  }
}

.back {
  a:hover {
    text-decoration: underline;
  }
}

.back {
  p {
    text-align: center;
    font-size: 12px;
    margin-top: 12px;
  }
}

@media (max-width: 768.98px) {
  .my-card {
    width: 100%;
  }

  
}