<nb-layout>
  <nb-layout-column>

    <div class="container">
      <ngx-header-logo></ngx-header-logo>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="my-card">
          <div class="my-card-header">
            <button (click)="back()"><i class="fas fa-arrow-left"></i></button>
            <img src="assets/images/kindpng_2988338.png" alt="">
          </div>
          <div class="my-card-body">
            <h3>Lupa Password?</h3>
            <p>Masukkan alamat email yang Anda gunakan saat Anda bergabung dan kami akan mengirimkan Anda instruksi
              untuk
              mereset kata sandi Anda.</p>
          </div>
          <div class="my-card-footer">
            <form (ngSubmit)="onSubmit()" [formGroup]="requestForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email tidak boleh kosong!</div>
                  <div *ngIf="f.email.errors.email">Email tidak valid!</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary col-md-12">
                  Kirim <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </button>
                <div class="back">
                  <p>Kembali kehalaman <a [routerLink]="['/login']" routerLinkActive="login">login</a> atau <a
                      [routerLink]="['/register']" routerLinkActive="register">daftar</a>. </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

<router-outlet></router-outlet>
