@import "../login/login.component.scss";


ngx-box-shadow {
  .header {
    width: 100%;
    // border: 1px solid black;
  }
}

.header {
  img {
    width: 100%;
  }
}

.body {
  margin-top: 20px;
}


.form-group {
  input {
    height: 50px;
  }
}

.form-group {
  label {
    font-weight: 600;
  }
}

