<nb-layout>
  <nb-layout-column>
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <ngx-header-logo></ngx-header-logo>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ngx-box-shadow>
            <div class="header">
              <img src="assets/images/unlock-1200px.png" alt="">
            </div>
            <div class="body">
              <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password tidak boleh kosong!</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="confirmPass">Konfirmasi Password</label>
                  <input type="password" formControlName="confirmPass" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPass.errors }" />
                  <div *ngIf="submitted && f.confirmPass.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPass.errors.required">Password tidak boleh kosong!</div>
                    <div *ngIf="f.confirmPass.errors.mustMatch">Password tidak sesuai!</div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="col-md-12 btn btn-primary">
                    Kirim <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
              </form>
            </div>
          </ngx-box-shadow>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
